<div class="row">
  <h1 class='section-title'>Bio</h1>
  <hr>
</div>

<div class="row">
  <%= image_tag 'Lucy.jpg', class: 'inline-img' %>
  <p>Lucy Tan is the author of "What We Were Promised", available now from Little, Brown (Hachette Book Group). Though raised in the suburbs of New Jersey, she has spent most of the past ten years in New York City and Shanghai. Her stories explore these and other spaces, with special focus on characters who have a shifting sense of what they call "home."</p>
  <p>Lucy holds an MFA in creative writing from the University of Wisconsin-Madison, where she was winner of the August Derleth Prize. This fall, she will join the UW faculty as the 2018-2019 James C. McCreight Fellow in Fiction. A recipient of support from Kundiman, NY State Summer Writers Institute, and the Wisconsin Institute for Creative Writing, Lucy has published in journals such as Asia Literary Review, Sixfold, and Ploughshares, where she was fiction winner of the 2015 Emerging Writer's Contest.</p>
  <p>In her pre-writer days, Lucy was a product manager and an actress who was once <%= link_to 'caked in the face', 'https://www.youtube.com/watch?v=TWRKQGSLfN4', class: 'lt-link' %> alongside Jennifer Lawrence.</p>
</div>

<div class="row"></div>

<script type="application/ld+json">
  <%= render 'jsonld/lucy.json' %>
</script>