<div class="row">
  <h1 class='section-title'>Bio</h1>
  <hr>
</div>

<div class="row">
  <%= image_tag 'Lucy.jpg', class: 'inline-img' %>
  <p>Lucy Tan is the author of the novel <cite><a class="lt-link" href="/book">What We Were Promised</a></cite>, which was longlisted for the <cite>Center for Fiction First Novel Prize</cite> and named a Best Book of 2018 by <cite>The Washington Post</cite>, <cite>Refinery 29</cite>, and <cite>Amazon</cite>.</p>
  <p>Though raised in the suburbs of New Jersey, Lucy has spent most of her adult life in New York City and Shanghai. Her stories explore these and other spaces, with special focus on characters who have a shifting sense of what they call "home."</p>
  <p>Lucy holds an MFA in creative writing from the University of Wisconsin-Madison, where she was winner of the August Derleth Prize. A recipient of support from Kundiman, NY State Summer Writers Institute, and the Wisconsin Institute for Creative Writing, Lucy has published in journals such as <cite>Asia Literary Review</cite>, <cite>McSweeney's</cite> and <cite>Ploughshares</cite>, where she was fiction winner of the 2015 Emerging Writer's Contest. She currently lives and writes in Seattle.</p>

</div>

<div class="row"></div>

<script type="application/ld+json">
  <%= render 'jsonld/lucy.json' %>
</script>