<div class="row">
  <h1 class='section-title'>Bio</h1>
  <hr>
</div>

<div class="row">
  <%= image_tag 'Lucy.jpg', class: 'inline-img' %>
  <p>Hi! I'm Lucy, and I write fiction. Though raised in the suburbs of New Jersey, I have spent most of the past ten years in New York City and Shanghai. My stories explore these and other spaces, with special focus on characters who have a shifting sense of what they call "home."</p>
  <p>I recently earned an MFA in Creative Writing from the University of Wisconsin-Madison and my first novel, <%= link_to 'What We Were Promised', book_path, class: 'lt-link' %>, is forthcoming from Little, Brown (Hachette Book Group) in July 2018. Stories have appeared in journals such as Asia Literary Review, Sixfold, and Ploughshares, where I was fiction winner of the 2015 Emerging Writer's Contest.</p>
  <p>I am currently based in NYC and teach a novel-writing workshop at <%= link_to 'Catapult', 'https://catapult.co/classes/8-week-novel-writing-workshop-193', class: 'lt-link' %>. </p>
</div>

<div class="row"></div>