<div class="row">
  <h1 class="section-title">Book Club Recommendations</h1>
  <hr>
</div>

<div class="row">
  <h3 class="section-subtitle">Cocktails</h3>
  <%= image_tag 'sunny_cocktail.jpg', class: "cocktail" %>
  <%= image_tag 'lina_cocktail.jpg', class: "cocktail" %>
  <%= image_tag 'wei_cocktail.jpg', class: "cocktail" %>
</div>

<% if false %>
<div class="row">
  <h3 class="section-subtitle">Contact</h3>
  <p>If your book club chooses "What We Were Promised" for its next discussion, feel free to reach out to schedule a skype call!</p>
  <%= render 'contact_form' %>
</div>
<% end %>