<div class="row" id='interviews'>
  <h1 class='section-title'>Interviews</h1>
  <hr>
</div>

<div class="row">
  <div class="press-grid">
    <% @interviews.each do |item| %>
      <%= render 'press_item', item: item %>
    <% end %>
  </div>
</div>


<div class="row" id='press'>
  <h1 class='section-title'>Press</h1>
  <hr>
</div>

<div class="row">
  <div class="press-grid">
    <% @news.each do |item| %>
      <%= render 'press_item', item: item %>
    <% end %>
  </div>
</div>