<div class="row">
  <h1 class='section-title'>News</h1>
  <hr>
</div>

<div class="row">
  <ul class='press-items'>
    <li class="press-item">Publishers Marketplace: <a href="https://lunch.publishersmarketplace.com/2018/01/buzz-books-spring-summer-preview-literary-debut-fiction/" target="blank" class="press-link">Buzz Books Spring/Summer Preview: Literary &amp; Debut Fiction"</a></li>
    <li class="press-item">Library Journal: <a href="http://reviews.libraryjournal.com/2018/01/prepub/fiction-previews/summer-debuts-fiction-previews-jul-2018/" target="blank" class="press-link">Summer Debuts | Fiction Previews"</a></li>
    <li class="press-item">Bustle: <a href="https://www.bustle.com/p/19-debut-novels-coming-out-in-2018-that-you-definitely-wont-want-to-miss-7649015" target="blank" class="press-link">19 Debut Novels Coming Out in 2018 That You Definitely Won't Want to Miss"</a></li>
    <li class="press-item">Huffington Post: <a href="https://www.huffingtonpost.com/entry/2018-book-preview_us_5a383493e4b0c65287aba20b" target="blank" class="press-link">60 Books We Can't Wait to Read in 2018"</a></li>
    <li class="press-item">Electric Literature: <a href="https://electricliterature.com/46-books-by-women-of-color-to-read-in-2018-70a0bf5bf4f2" target="blank" class="press-link">46 Books By Women of Color to Read in 2018"</a></li>
    <li class="press-item">Write + Eat: <a href="https://itunes.apple.com/us/podcast/write-eat/id1279365830?mt=2" target="blank" class="press-link">Episode 5: The Book Deal"</a></li>
  </ul>
</div>