// $dark-green: #12726B;
$dark-green: #0A716A;
$bg-green: darken($dark-green, 0%);
$header-green: #1a4340;
$yellow: #FFF9B4;
$light-yellow: rgba($yellow, 0.6);
// $light-yellow: rgb(143, 179, 107);
$pink: #F1A6AB;
$footer-height: 220px;

// breakpoints
$breakpoint-xl: 1120px;
$breakpoint-md: 768px;


@mixin yellow-link {
  color: $yellow;
  border-color: $yellow;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease-in, border-color 0.5s ease-in;

  &.--active,
  &:hover {
    color: $pink;
    border-color: $pink;
    // font-style: italic;
    transition: color 0.5s ease-in, border-color 0.5s ease-in;
  }
}

html {
  background-color: $bg-green;
  overflow-y: scroll;
}
body {
  position: relative;
  padding: 0 0 50px 0;
  // padding-bottom: $footer-height * 1.5;
  margin: 0;
  min-height: 100vh;
  background: image_url("soft-circle-scales.png");
  background-color: $bg-green;
  font-family: 'Montserrat', serif;
  // background: linear-gradient($yellow 40%, $pink);
  // background-clip: text;
  color: $yellow;
  // z-index: -1;
  // // color: transparent;

  // &::after {
  //   content: ' ';
  //   background: linear-gradient(to right, transparent, rgba(255,255,255,0.1) 15%, rgba(255,255,255,0.1) 85%, transparent);
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  // }
}

* {
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

p { 
  font-weight: 300;
}

hr {
  width: 75%;
  border: none;
  border-bottom: 1px $light-yellow solid;
  color: $light-yellow;
  margin-bottom: 2em;
  margin-left: 0;
}

#flash-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 75%;
  max-width: 800px;
  margin: auto;
  padding: 1em;
  z-index: 100;
  border: 3px #9f9f9f solid;
  border-radius: 4px 4px 0 0;
  background-color: #F0F0F0;
  text-align: center;
  color: #202020;
  animation-name: 'fade-out';
  animation-fill-mode: forwards;
  animation-delay: 5s;
  animation-duration: 2s;
}

header {
  position: relative;
  padding: 1em 2em;
  background-color: $header-green;
  
  h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 100;

    a {
      @include yellow-link();
      text-decoration: none;
      font-weight: 300;
      letter-spacing: -1px;
    }
  }

  &__desc {
    font-weight: 100;

    &::before {
      content: '| ';
    }
  }

  .__links {
    max-width: 61.8%;
    position: absolute;
    bottom: 15px;
    right: 0;

    ul {
      display: flex;
      justify-content: space-around;
      padding-left: unset;
    }

    li {
      position: relative;
      list-style: none;
      margin: 0 1rem;
    }
  }

  #header-bars {
    @include yellow-link();
    display: none;
    padding: 10px;
    text-align: right;
  }

  .__link {
    @include yellow-link();
    font-size: 1.25rem;
    z-index: 100;
    font-weight: 300;
    // text-transform: uppercase;

    &.--no-fade:hover {
      color: $yellow;
      border-color: $yellow;
    }
  }

  .header-link-dropdown {
    @include yellow-link();

    .__sublink-container {
      display: none;
      opacity: 0;
      // transition: opacity 0.6s ease-in;
      // animation: fade-in 0.6s;
    }

    &:hover {
      .__link {
        color: $pink;
      }

      .__sublink-container {
        display: block;
        opacity: 1;
        // transition: opacity 0.6s ease-in;
        animation: fade-in 1.5s;
      }
    }
  }

  .__sublink-container {
    position: absolute;
    left: -20px;
    z-index: 50;
    padding: 20px;

    &::after {
      // make the pretty border
      position: absolute;
      left: -2px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      z-index: -10;
      content: " ";
      background-image: linear-gradient(to bottom, rgba($yellow, 0) 5%, rgba($yellow, 0.9));
    }

    &::before {
      // make the actual background
      position: absolute;
      z-index: -5;
      content: " ";
      background-color: $header-green;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }

    
  }

  .__sublink {
    @include yellow-link();
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  @media all and (max-width: $breakpoint-xl) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      flex-basis: 75%;
    }

    &__desc {
      &::before {
        content: '';
      }
    }

    #header-bars {
      display: block;
      flex-basis: 25%;
    }

    .__links {
      position: relative;
      bottom: 0;

      &:not(.--expanded) {
        display: none;
      }

      ul {
        flex-direction: column;
      }

      li {
        margin: 0.5em 1em;
      }

    }

    .header-link-dropdown {
      .__sublink-container {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding: 0.5em 0 0 1em;
        opacity: 1;

        &:hover {
          animation: none;
        }
  
        &::after,
        &::before {
          display: none;
        }
      }
    } 
  }
}

.footer {
  display: none;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  // background: linear-gradient(transparent 0%, rgba($pink, 0.8) 50%);
  background: $pink;
}

#ajax-results-container,
.spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-yellow;

  &.--error {
    height: unset;
    padding-bottom: 1em;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch; 

  &.--emphasize {
    align-items: center;
  }
}

.button {
  @include yellow-link;
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.5em 1.5em;
  border: 1px $yellow solid;
  border-radius: 4px;

  &.--emphasize {
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.3em;
    font-weight: bold;
    background-image: linear-gradient($yellow, $pink);
    background-size: 100% 500%;
    background-position: 0% 0%;
    color: $dark-green;
    transition: background-position 1s ease-in;

    &:hover {
      background-position: 0% 100%;
      transition: background-position 1s ease-in;
    }
  }

  &.--wide {
    width: 100%;
    text-align: center;
  }
}

.lt-link,
.email-link {
  @include yellow-link();
  text-decoration: underline;
}

.std-link {
  @include yellow-link();
}

.main-container {
  // opacity: 0;
  padding: 0 1em;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

.cover {
  // height: 110vh;
  height: auto;
  margin: 0 -1em;
  width: calc(100% + 2em);
  // background-image: image_url('WWWP.png');
  // background-position: center top;
  // background-size: contain;
  // background-repeat: no-repeat;

  &.--sm {
    display: none;
  }

  &.--lg {
    display: none;
  }

  @media screen and (max-width: $breakpoint-xl) {
    &.--lg {
      display: block;
    }

    &.--xl {
      display: none;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &.--sm {
      display: block;
    }
    &.--lg {
      display: none;
    }
    &.--xl {
      display: none;
    }
  }

} 

.section-title {
  margin: 2em 0 1em;
  text-transform: uppercase;
  font-size: 2rem;

  &.--book-title {
    text-align: center;
    font-size: 5em;
    background: linear-gradient($yellow, $pink);
    background-clip: text;
    color: transparent;
    font-weight: 100;
    line-height: 1.2;
    // this should all get replaced with an svg.. ?
  }
}

.section-subtitle {
  font-size: 2em;
  font-weight: normal;
  margin: 1em 0 0.25em 0;

  &.--center {
    text-align: center;
  }
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 2em auto;
  font-size: 1.2rem;
  clear: both;

  @media all and (max-width: $breakpoint-xl) {
    font-size: 1rem;  
  }

  &.--split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media all and (max-width: $breakpoint-xl) {
      flex-direction: column;
    }
  }

  &.--preorder {
    text-align: center;
  }

  &.--long-text {
    font-weight: 300;
  }

  &.--highlighted {
    text-align: center;
    font-style: italic;
  }
  
  .__left {
    padding-right: 1em;
    border-right: 1px $light-yellow solid;
  }
  .__right {
    padding-left: 1em;
  }
  .__half {
    width: 50%;
    flex: 1 1 1;

    @media all and (max-width: $breakpoint-xl) {
      width: 100%;
      padding: 0;
      border: none;
    }
  }

  .__contact {
    flex-grow: 2;
    max-width: 525px;
  }

  .__break {
    margin: 2.5em auto;
    
    &.--invisible {
      opacity: 0;
    }

    &.--lg-only {
      display: none;
    }

    @media all and (max-width: $breakpoint-xl) {
      &.--lg-only {
        display: block;
      }
    }
  }
}

.title-img {
  max-height: 550px;
  max-width: 100%;
  margin: 1em auto;
  display: block;
}

.purchase-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media all and (max-width: $breakpoint-xl) {

  }
}

.purchase-button {
  flex: 0 0 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin: 1em;
  padding: 0;
  background: white;
  border-radius: 4px;

  &.--ibooks {
    background: black;
  }
  
  & > img {
    max-width: 100%;
    border-radius: inherit;
    width: auto;

    &.--ibooks,
    &.--indiebound {
      height: 55px;
    }
    &.--bandn {
      height: 30px;
    }
    &.--amazon {
      height: 52px;
    }
  }
}

.links-table {
  margin-left: auto;
  margin-right: auto;
}

.quote {
  text-align: center;
  margin-bottom: 3.5em;

  .__quote-author {
    font-size: 0.9em;
    font-style: italic;
    font-weight: bolder;
    
    &::before {
      content: '\A- ';
    }
  }

  .__quote-author-description {
    font-weight: normal;
  }
  
  .__quote-text {
  }
}

.press-grid {
  display: grid;
  grid-template-columns: minmax(200px, 13.5%) 1fr;
  grid-gap: 3rem 1rem;
  gap: 3rem 1rem;

  @media all and (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  &__img-contain {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
  }

  &__img-container {
    position: relative;
    align-self: stretch;
    padding: 5px;
    min-height: 80px;
    background: white;

    &.--black {
      background: black;
    }

    &.--tan {
      background: #F9EED9;
    }

    &.--yellow {
      background: #f8d73e;
    }

    &.--gray {
      background: #767d7b;
    }

    @media all and (max-width: $breakpoint-md) {
      min-height: 120px;
    }
  }
  
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
  }
  
  &__img-cover {
    background-size: cover;
    background-position: center;
  }

  &__link {
    @include yellow-link();

    @media all and (max-width: $breakpoint-md) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
  }

  &__source {
    margin: 0;
    font-size: 1.2rem;
  }

  &__date {
    padding-left: 1rem;
    font-style: italic;

    &::before {
      content: "|";
      font-style: normal;
      padding-right: 1rem;
    }
  }
}

.press-items {
  list-style-type: square;
}

.press-item {
  margin: 1em 0;
}

.press-link {
  @include yellow-link();
  border: none;
  font-weight: 600;
}

.book-cover-container {
  border: 1px $yellow solid;
  padding: 1em;

  .__img {
    max-width: 50%;
    height: auto;
  }
}

.other-work {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .__thumb {
    margin-right: 2em;
    border-radius: 4px;
  }

  .__header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
  }
  
  .__title {
    font-size: 1.1em;
    font-style: normal;

    &::after {
      content: ' - ';
    }
  }

  .__note {
    font-size: 0.9em;
    font-style: italic;
  }
}

.cocktail {
  height: auto;
  max-width: 600px;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid $yellow;
}

.inline-img {
  float: left;
  clear: left;
  max-width: 100%;
  padding: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 1px solid $yellow;
}

.events {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-row-gap: 1em;
  row-gap: 1em;  
}

.event-details {
  &.--link {
    @include yellow-link();

    &:hover .event-calendar {
      border-color: $pink;
    }
  }

  &.--past {
    color: $light-yellow;
  }
}

.event-calendar {
  position: relative;
  height: 75px;
  width: 75px;
  margin: 0.5em 2em 0 0;
  border: 1px solid $yellow;
  border-radius: 4px;
  padding: 0.5em;
  text-align: center;
  transition: border-color 0.5s ease-in;

  &.--link {
    @include yellow-link();
    
    &::after {
      transition: background 0.5s ease-in;
    }
    
    
    &:hover {
      &::after {
       background: linear-gradient(45deg, transparent 49%, $pink 49%, $pink 51%, transparent 51%);
     }
    }
  }

  &.--past {
    color: $light-yellow;

    &::after {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background: linear-gradient(45deg, transparent 49%, $yellow 49%, $light-yellow 51%, transparent 51%);
    }
  }

  h4 {
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 0.5em 0;
  }
}

.event-details {
  padding: 0.5em;

  h4 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }

  p {
    margin: 0.5em 0;
  }
}

.book-list {
  .__book {
    margin: 0.25em 0;
    font-size: 0.9em;

    @media all and (max-width: $breakpoint-xl) {
      margin: 1em 0;    
    }
  }

  .__title {
    font-style: italic;
    font-size: 1.2em;

    @media all and (max-width: $breakpoint-xl) {
      display: block;
    }
  }
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.--centered {
    justify-content: center;
    padding-top: 20px;
  }
}

.social-icon {
  padding: 0 15px;

  .__img {
    width: 30px;
    height: auto;

    &.--no-bg {
      // background-color: darken(white, 5%);
      // border-radius: 4px;
      width: 46px;
    }
  }
}

#contact-us {
  input,
  textarea {
    margin: 0.5em 0;
    padding: 1em;
    border: 1px $yellow solid;
    border-radius: 4px;
    box-shadow: none;
    background-color: $bg-green;
    color: $yellow;
    caret-color: $pink;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    outline: none;

    &::placeholder,
    &:placeholder-shown {
      color: $light-yellow;
      font-style: italic;
    }

    &:focus {
      border-color: $pink;
      color: $pink;
      transition: border-color 0.5s ease-in, color 0.5s ease-in;
    }
  }

  textarea {
    min-height: 9em;
    resize: none;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    // display: none;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 2px;
  }

  .__row {
    display: flex;
  }

  .__half-width {
    flex: 1 1 1;
    max-width: calc(50% - 0.5em);
    margin-right: 1em;
  }

  .__full-width {
    width: 100%;
  }

  .__submit {
    @include yellow-link();
  }
}

/* ANIMATIONS */
/* must be at the bottom to override higher settings */
.animate-fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
}
.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -100;
  }
}