// $dark-green: #12726B;
$dark-green: #0A716A;
$bg-green: darken($dark-green, 0%);
$yellow: #FFF9B4;
$light-yellow: rgba($yellow, 0.6);
$pink: #F1A6AB;

@mixin yellow-link {
  color: $yellow;
  text-decoration: none;

  &.--active,
  &:hover {
    color: $pink;
    text-decoration: underline;
    transition: color 0.5s ease-in;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $bg-green;
  font-family: 'Hind', sans-serif;
  color: $yellow;
}

a {
  color: unset;
  text-decoration: none;
}

hr {
  width: 75%;
  color: $light-yellow;
  margin-bottom: 2em;
  margin-left: 0;
}


.header {
  position: relative;
  padding: 15px 30px 0 30px;
  background-color: $bg-green;
  
  h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 100;

    a {
      color: $yellow;
      text-decoration: none;
    }
  }

  .__links {
    max-width: 61.8%;
    position: absolute;
    bottom: 0;
    right: 0;

    ul {
      display: flex;
      justify-content: space-around;
      padding-left: unset;
    }

    li {
      position: relative;
      list-style: none;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .__link {
    @include yellow-link();
    font-size: 1.6em;
    z-index: 100;
  }

  .header-link-dropdown {
    .__sublink-container {
      display: none;
      opacity: 0;
      // transition: opacity 0.6s ease-in;
      // animation: fade-in 0.6s;
    }

    &:hover {
      .__sublink-container {
        display: block;
        opacity: 1;
        // transition: opacity 0.6s ease-in;
        animation: fade-in 1.5s;
      }
    }
  }

  .__sublink-container {
    position: absolute;
    left: -20px;
    z-index: 50;
    padding: 20px;

    &::after {
      // make the pretty border
      position: absolute;
      left: -2px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      z-index: -10;
      content: " ";
      background-image: linear-gradient(to bottom, rgba($yellow, 0) 5%, rgba($yellow, 0.9));
    }

    &::before {
      // make the actual background
      position: absolute;
      z-index: -5;
      content: " ";
      background-color: $dark-green;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }

    
  }

  .__sublink {
    @include yellow-link();
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
}

.main-container {
  // opacity: 0;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

.cover {
  height: 110vh;
  background-image: image_url('WWWP.png');
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-title {
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 2em;
  font-weight: normal;
  margin: 0.5em 0;
}

.row {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 2em auto;
  font-size: 1.2em;

  &.--split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .__left {
    width: 50%;
    padding-right: 1em;
    border-right: 1px $light-yellow solid;
  }
  .__right {
    width: 50%;
  }
}

.inline-img {
  float: left;
  clear: left;
  padding: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 1px $yellow solid;
}

.book {
  margin: 0.25em 0;

  .__title {
    font-weight: bold;
  }
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icon {
  padding: 0 15px;

  .__img {
    width: 30px;
    height: auto;
    &.--white-bg {
      background-color: darken(white, 5%);
      border-radius: 4px;
    }
  }
}

/* ANIMATIONS */
/* must be at the bottom to override higher settings */
.animate-fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
}
.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}