<%# 
  required: link
  optional: children, active
%>
<li class='header-link-dropdown'>
  <% if local_assigns[:children] %>
    <% child_id = "child-of-#{link}" %>
    <%= link_to link.titleize, '#', class: '__link --no-fade' %>
    <div class='__sublink-container' id=<%= child_id %>>
      <% children.each do |child| %>
        <%= link_to child.titleize, child.to_sym, class: '__sublink' %>
      <% end %>
    </div>

  <% else %>
    <%= link_to link.titleize, link.to_sym, class: "__link #{'--active' if local_assigns[:active] == link}" %>
    
  <% end %>
</li>